
.cardGame{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0px 3px 3px 1px var(--primary);
    background-color: rgb(200, 201, 194);
    font-weight: bold;
    color: var(--dark);  
}

.dataJogo{
    font-size: 12px;
    font-style: italic;
    color: rgb(70, 75, 73);
}
.cardGame hr{
    color: var(--dark);  
}
.cardTop{
    border-radius: 10px;
    border: none;
    background-image: linear-gradient(to left,var(--br-green),var(--br-blue),var(--br-yellow));
    color: var(--white);  
    margin-bottom: 20px;
}

.cardGameBrazil{
    width: 44%;
    height: auto;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 1px 6px 2px 1px rgba(0, 0, 2, 0.2);
    background-image: linear-gradient(to right,#10892E,#19328E, #EED901);
    font-weight: bold;
}

.date{
    font-weight: 400;
    font-size: 12px;
    padding: 10px;
    font-style: italic;
}
.dateGame{
    font-size: 12px;
    font-style: italic;
}
@media (max-width: 576px) { 
    .cardGame, .cardGameBrazil{
        width: 90%;
    }

    .cardGame {
        font-size: 12px;
    }

    .dataJogo{
        font-size: 10px;

    }

 }
