
.tableBody{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 1px 6px 2px 1px rgba(0, 0, 2, 0.2);
    background-color: rgb(200, 201, 194);
    color: var(--dark);
    border: none;
}

.tableBody thead{
    background-image: linear-gradient(to left,var(--br-green),var(--br-yellow),var(--br-blue));
    color: var(--white);    
    
}

.image{
    width: 50px;
    height: 30px;
}

@media (max-width: 576px) { 
    .tableBody{
        width: 50px;
        font-size: 12px;
        overflow:scroll;
        overflow-x:hidden;
    }
    .tableBody thead{
    }

    .image{
        width: 20px;
        height: 15px;
    }
}