:root {
  --dark:#000;
  --dark-light:#74757492;
  --white : white;
  --primary: #490d20;
  --bg-color: rgb(248, 247, 247);
  --br-blue: #1651b8;
  --br-green: #16b83e;
  --br-yellow: #FFE857  
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--dark);
  background-image: linear-gradient(to bottom,var(--br-green),var(--br-blue),var(--br-yellow));
  color: var(--white);
  height: auto;
}

h3{
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer{
  font-size: 12px;
}

footer a{
  color: var(--white);
  font-weight: bold;
  text-decoration: none;
}

#nprogress{
  --primary-color: #ff0000; 
  pointer-events: none;
}

