:root {
  --dark:#000;
  --dark-light:#74757492;
  --white : white;
  --primary: #490d20;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--dark);
  background-image: linear-gradient(to bottom,var(--dark),var(--primary));
  color: var(--white);
  height: auto;
}

h3{
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

